<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">		
			<a class="brand offset9" href="/"><img src="{{STATIC_URL}}/Logo.jpg" style="width:120px;height:120px">&nbsp</img><strong><em>Ping Go</em></strong>--Handmade Luxury Furniture</a>
			<div class="navbar navbar-inverse offset9">
				<ul class="nav offset5">
					<li class="">
						<a href="/"><i class="icon-home icon-white"></i>Home</a>
					</li>
					<li class="">
						<a href="/about/"><i class="icon-book icon-white"></i>About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
